@import "../../../../assets/styles/variables.scss";

.ttl-r{
    color: $red;
}

.card {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    background-color: $red;
}

.header-image {
    background-size: cover;
}

.mat-card-header{
    background-color: $white;
    padding-top: 10px;
    border-radius: 10px;
}



.mat-card-subtitle{
    color: $black;
}

.btn-c{
    background-color:white;
}
