<div fxLayoutAlign="center center" fxLayout="row" fxFlexFill class="main-div">
    <mat-card  fxFlex="25" fxFlex.lt-sm="80">
      <mat-toolbar fxLayoutAlign="center center">POKEDEX-LITE</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column">
        <mat-form-field>
            <input matInput type="email" placeholder="Correo electrónico" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nombre de Entrenador Pokemon" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Confirme su contraseña" autocomplete="off">
          </mat-form-field>
        <h5>¿Ya tenés una cuenta en Pokedex-Lite? Ingresa <a routerLink="/auth/login">AQUÍ</a>.</h5>
        <button mat-raised-button type="submit" color="warn" (click)="registerTest()">¡Atrápalos ya!</button>
      </form>
    </mat-card>
  </div>