@import "../../../../assets/styles/variables.scss";

input {
    color: $white !important;
}

table {
    min-width: 80%;
    margin: auto;

}

img{
    border: 1px solid $red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container{
    width: 100%;
}

.mat-form-field{
    background-color: $red;
}

.mat-form-field {
    font-size: 13px;
    width: 20%;

    margin-bottom: 5px;
    padding: 10px;

    margin-left: 42%;
}
.pointer{
    cursor: pointer;
}

::ng-deep.mat-form-field-label {
    color: $white !important;
}
::ng-deep.mat-form-field-underline {
    background-color: $white !important;
}

.mat-header-cell {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

//EVEN COLUMNS
.mat-row:nth-child(even) {
    background-color: $white;
}

//ODD COLUMNS
.mat-row:nth-child(odd) {
    background-color: $red;
    & .mat-cell {
        color: $white;
    }
}

.mat-row:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2px $yellow;
}

::ng-deep.mat-paginator {
    width: 80%;
    margin: auto;
}

.mat-form-field {
    font-size: 13px;
    width: 20%;

    margin-bottom: 5px;
    padding: 10px;
}

::ng-deep.mat-form-field-label {
    color: $white !important;
}
::ng-deep.mat-form-field-underline {
    background-color: $white !important;
}

//MEDIA QUERY SECTION
@media (max-width: 414px) {
    img{
        border: 1px solid $red;
        display: block;
        margin: 50% auto 50% auto;
        height: -300px;
        width: 50%;
    }

    .mat-form-field{
        margin-left: 25%;
    }
}



